{% for block in section.blocks %}
    {% if block.type == "block" %}
                    <div li-block="Block">
                                    <img class="image"
     src="{{ block.settings.image_image | img_url: 'master' }}"
     alt="{{ block.settings.image_image.alt }}"
     loading="lazy">

                            </div>
            {% endif %}
{% endfor %}
 {% schema %} {"tag":"div","name":"images","class":"section_images","blocks":[{"name":"Block","type":"block","settings":[{"id":"image_image","type":"image_picker","label":"Image"}]}],"presets":[{"name":"images","category":"Liquify"}]} {% endschema %}