<h1 class="h1-heading">
{{ section.settings.text_heading }}
</h1>
 {% schema %} {"tag":"div","name":"static_heading","class":"section_static_heading","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"CHEST-FLATTENING BASICS"}],"presets":[{"name":"static_heading","category":"Liquify"}]} {% endschema %}