<h1 class="h1-heading">
{{ section.settings.text_heading }}
</h1>
<div class="custom-input w-embed"></div>
<div class="custom-input w-embed"></div>
<div class="custom-input w-embed"></div>
 {% schema %} {"tag":"div","name":"static_heading","class":"section_static_heading","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"CHEST-FLATTENING BASICS"},{"type":"color","id":"color","label":"Text color","default":"#000000"},{"type":"color","id":"background","label":"Background Color","default":"#ffffff"},{"type":"select","id":"font","label":"Font Size","options":[{"value":"3rem","label":"Small"},{"value":"6rem","label":"Large"}],"default":"15rem"}],"presets":[{"name":"static_heading","category":"Liquify"}]} {% endschema %}